.card-country {
  width: 280px;
  height: 330px;
  box-shadow: var(--Shadow);
  margin-bottom: 22px;
  border-radius: 8px;
  transition-duration: .5s;
}

.card-country:hover {
  box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.726);
}

.country-image-container {
  width: 100%;
  height: 180px;
  border-radius: 8px 8px 0 0;
}

.country-image {
  height: 100%;
  width: 100%;

  border-radius: 8px 8px 0 0;
}

.data-country {
  padding: 22px;
}

.country-title {
  padding-bottom: 12px;
  font-size: 18px;
}

.country-data-title {
  font-weight: 600;
}
