.country-info-image-container{
  width: 100%;
}
.country-info-image{
  width: 100%;
  border-radius: .5rem;
}
.back-button{
  display: flex;
  justify-content: center;
  padding: 0.7rem 0.5rem;
  box-shadow: var(--Shadow);
  width: 100px;
  border-radius: var(--Radius);
  margin-bottom: 2rem;
}
.info-container{
  display: grid;
  row-gap: 2rem;
  height: 100%;
}
.sub-info p span::after {
  content: ",";
  position: relative;
  right: 4px;
}
.sub-info p span:last-child::after {
  content: ""
}
@media screen and (min-width: 600px){
  .info-container{
    grid-template-columns: 300px 120px 150px;
    gap: 4rem;
    justify-content: center;
  }
  .sub-info{
    position: relative;
    top: 3rem
  }
  .country-name{
    position: absolute;
    top: 11.5rem;
  }
  .contry-info{
    display: grid;
    align-items: center;
    margin-top: 3rem
  }
}

