.inputContainer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  box-sizing: border-box;
}
.inputStuffContainer {
  width: 90%;
  padding: 1em;
  box-shadow: var(--Shadow);
  border-radius: var(--Radius);
}

button {
  width: 20%;
  background: none;
  border: none;
}
input {
  border: none;
  width: 80%;
  outline: none;
}
::placeholder {
  font-weight: 600;
}
