:root {
  --Text: hsl(200, 15%, 8%);
  --Background: hsl(0, 0%, 98%);
  --shadowColor: rgba(0, 0, 0, 0.137);
  --Shadow: -1px 1px 20px var(--shadowColor);
  --Radius: 8px;
}

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--Text);
}

body {
  margin: 0;
  background: var(--Background);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
